<section class="row">
  <div class="col-12 col-sm-6">
        <h3>{{listName()}}</h3>
    <ul>
      @for (character of characters(); track character.id; let idx = $index) {

        @if ( character.power > 500) {
        <li>
          <span>{{ idx + 1 }} - {{ character.name }}</span>
           <strong
         [class.text-danger]="character.power >9000"
         [class.text-info]="character.power <9000">
         ({{ character.power }})
          <!-- <strong[ngClass]="powerClasess()"-->
        </strong>
        </li>
      }
      @else {
        <li><strong>Aqui no hay nadie</strong></li>
      }
      }
    </ul>
  </div>
</section>

